/* Reset CSS */
* { margin: 0; padding: 0; border: none; list-style: none; }

body { font: 12px Tahoma, Verdana, sans-serif; }
.home #main { width: 600px;}
#main { margin-top: 20px; width: 1100px; position: relative; }

h1 { margin-bottom: 20px; font-size: 22px; font-weight: normal;  }
h2 { font-weight: normal; margin-bottom: 20px; }

label { display: block; margin-bottom: 20px; }
label span { display: block; }

.fleft { float: left; }
.fright { float: right; }

.clear { clear: both; }
.content { margin: 0 auto; }

.out { width: 700px; }
input, textarea, select { border: 1px solid #666; background: #fff; padding: 2px; font: 12px Tahoma, sans-serif; color: #666; width: 368px; }
.submit input { width: 100px; }

#format { width: 370px; background: #efefef; padding: 15px; }

#format label { display: table; width: 100%; }
#format input.fright,
#format select.fright{
	width: 288px;
}
.format-title { width: 200px; }
.format-tag {
	border: 1px solid #000;
	background: #ddd;
	padding: 4px;
	cursor: pointer;
}
/* editar */

#preview { margin-bottom: 40px; width: 700px; }
#preview td:hover,
#preview td.is-selected {
	outline:  2px solid #006acc;
}
#output { width: 600px; }