/* Reset CSS */
* { margin: 0; padding: 0; border: none; list-style: none; }

body { font: 12px Tahoma, Verdana, sans-serif; }
#main { width: 800px; margin: 20px auto; }

h1 { margin-bottom: 20px; font-size: 22px; font-weight: normal;  }
h2 { font-weight: normal; margin-bottom: 20px; }

label { display: block; margin-bottom: 20px; }
label span { display: block; }

.out { width: 700px; }
input, textarea, select { border: 1px solid #666; background: #fff; padding: 2px; font: 12px Tahoma, sans-serif; color: #666; width: 600px; }
.submit input { width: 100px; }

#preview { margin-bottom: 40px; }

/* editar */
#preview td:hover,
#preview td.is-selected {
	outline:  2px solid #006acc;
}